.App {
  border: 1px dashed black;

  .upload-area-title {
    padding: 0%;
    text-align: start;
    margin-left: 26px;
    font-size: 20px;
  }

  .upload-area-subtitle {
    padding: 0%;
    text-align: start;
    margin-left: 26px;
    font-weight: 400;
    font-size: small;
  }

  .fileuploader-component {
    display: flex;
    justify-content: space-between;
  }

  .info {
    display: flex !important;
    font-size: 14px !important;
    margin-left: 22px;
    align-items: center !important;
  }

  .info-guide {
    margin-left: 26px;
    font-size: 13px;
    margin-left: 45px;
    margin-top: -10px;
    color: rgb(83, 82, 82);
  }

  .image-upload {
    border: 1px dashed rgb(12, 12, 12);
    border-radius: 3px;
    width: 100%;
    margin-left: 26px;
    margin-top: 31px;
    margin-bottom: 52px;
  }

  .camera {
    margin-left: 14px;
    margin-top: 14px;
  }

  .Upload {
    margin-left: 10px;
    margin-top: 11px;
    margin-bottom: 13px;
  }

  .uploadimage {
    display: flex;
    justify-content: first baseline;
  }
}
